.App {
  text-align: center;
  margin: 0;
  padding: 0;
}
.app-body {
  background-color: #9acd32;
  height: 100vh;
}

.nav {
  background-image: linear-gradient(rgb(0, 183, 255), rgb(0, 103, 129));
  margin: 0;
  padding: 1.5rem;
  text-align: right;
  color: white;
  font-size: 1.5rem;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-weight: bolder;
  box-shadow: 0 2px 2px rgb(82, 82, 82);
}

.nav-list {
  list-style: none;
  margin: 0;
}

.nav-list li {
  display: inline;
  padding: 1rem;
}

.nav-list a:hover {
  text-shadow: 2px 2px 2px rgb(247, 255, 138);
  color: rgb(0, 107, 207);
}

.nav-list a {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.nav-list img {
  height: 6rem;
  position: fixed;
  left: 0;
  top: 0;
  margin: 1.5rem;
  margin-top: .25rem;
  filter: drop-shadow(5px 5px 5px #222);
}

.nav-list img:hover {
  filter: drop-shadow(5px 5px 5px #fff890);
}

.content {
  margin: 2rem;
}

.about {
  text-align: center;
}

.about-text {
  width: 80%;
  padding-left: 10%;
  color: white;
  font-size: 2rem;
}

.about-text p {
  display: block;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-shadow: 2px 2px 2px black;
}

.about-logo {
  height: 300px;
  filter: drop-shadow(0 0 10px #222);
}

.page-top h2 {
  font-size: 3rem;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

.page-top img {
  height: 5rem;
  position: fixed;
  filter: drop-shadow(3px 3px 3px #222);
}

.page-top img:hover {
  filter: drop-shadow(3px 3px 3px #f7ff8d);
}

.subject-selection { 
  display: flex;
  justify-content: center;
  text-align: center;
  list-style: none;
  align-items: baseline;
}

.subject-selection li {
  display: inline-block;
  margin: 3rem;
}

.subject-selection li h2 {
  color: white;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-shadow: 2px 2px 2px #222;
}

.subject-selection img {
  width: 20rem;
  border-radius: 2rem;
  height: 15rem;
  border: solid grey 6px;
  box-shadow: 3px 3px 3px rgb(73, 73, 73);
}

.subject-selection img:hover {
  border: solid rgb(194, 194, 194) 6px;
  box-shadow: 3px 3px 3px rgb(255, 246, 126);
}

.subject-selection p {
  color: white;
  font-size: 1rem;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-shadow: 1px 1px 1px #222;
  width: 20rem;
}

footer {
  background-color: rgb(16, 187, 255);
  color: white;
  width: 100%;
  height: 4rem;
  text-align: center;
  position: fixed;
  bottom: 0;
}