.App {
  text-align: center;
  margin: 0;
  padding: 0;
  
}
.app-body {
  height: 100vh;
  background-color: #9acd32;
}

.content {
  background-color: #9acd32;
  height: fit-content;
}

/*-----------------NavBar--------------------*/
.nav {
  background-image: linear-gradient(rgb(0, 183, 255), rgb(0, 103, 129));
  margin: 0;
  text-align: right;
  color: white;
  font-size: 1.5rem;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-weight: bolder;
  box-shadow: 0 2px 2px rgb(82, 82, 82);
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 1.5rem;
}

.nav-list li {
  display: inline;
  padding: 1rem;
}

.nav-list a:hover {
  text-shadow: 2px 2px 2px rgb(247, 255, 138);
  color: rgb(0, 107, 207);
}

.nav-list a {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.nav-list img {
  height: 6rem;
  position: relative;
  float: left;
  margin-top: -1rem;
  filter: drop-shadow(5px 5px 5px #222);
}

.nav-list img:hover {
  filter: drop-shadow(5px 5px 5px #fff890);
}

/*----------------------AboutPage--------------------*/
.about {
  text-align: center;
}

.about-text {
  width: 80%;
  padding-left: 10%;
  color: white;
  font-size: 2rem;
}

.about-text p {
  display: block;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-shadow: 2px 2px 2px black;
}

hr {
  width: 50%;
}

.about-logo {
  width: 70%;
  max-width: 35rem;
  filter: drop-shadow(0 0 10px #222);
  margin-bottom: 120px;
}

/*----------------------PageTop--------------------*/
.page-top {
  margin-bottom: -4rem;
  border: rgba(255, 0, 0, 0) solid 1px;
}

.page-top h2 {
  font-size: 3rem;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

.page-top img {
  height: 5rem;
  position: fixed;
  left: 0;
  margin-left: 1.5rem;
  margin-top: 3rem;
  filter: drop-shadow(3px 3px 3px #222);
}

.page-top img:hover {
  filter: drop-shadow(3px 3px 3px #f7ff8d);
}
/*-----------------------SubjectButtons----------------*/
.subject-selection { 
  display: flex;
  margin-left: -6%;
  flex-direction: row;
  justify-content: center;
  align-items:flex-start;
  text-align: center;
  list-style: none;
}

.subject-selection li {
  margin: 3%;
  max-width: 15rem;
}

.subject-selection li h2 {
  color: white;
  width: 100%;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-shadow: 2px 2px 2px #222;
}

.subject-selection img {
  width: 100%;
  border-radius: 2rem;
  border: solid grey 6px;
  box-shadow: 3px 3px 3px rgb(73, 73, 73);
}

.subject-selection img:hover {
  border: solid rgb(194, 194, 194) 6px;
  box-shadow: 3px 3px 3px rgb(255, 246, 126);
}

.subject-selection p {
  color: white;
  font-size: 1rem;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-shadow: 1px 1px 1px #222;
  width: 100%;
}

footer {
  background-color: rgb(16, 187, 255);
  color: white;
  width: 100%;
  height: 4rem;
  text-align: center;
  padding-top: 1rem;
  position: fixed;
  bottom: 0;
}
.dropdown-menu {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  background-image: linear-gradient(rgb(0, 183, 255), rgb(0, 103, 129));
  padding-right: 2rem;
  margin-top: 1.7rem;
}

.sign-container {
  width: 40%;
  margin-left: 30%;
}

.sign-container div {
  text-align: center;
}


@media only screen and (max-width: 1020px) {
  .subject-selection h2 {
    font-size: large;
  }

  .about-text {
    font-size: larger;
  }

  .about-logo {
    width: 40%;
  }
}

@media only screen and (max-width: 800px) {
  .app-body {
    height: fit-content;
  }

  .subject-selection h2 {
    font-size: medium;
  }

  footer {
    position: relative;
  }

}

@media only screen and (max-width: 768px) {

  .page-top {
    margin-bottom: 0;
    border: none;
  }

  .subject-selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .subject-selection h2 {
    font-size: 2rem;
  }

  .subject-selection li {
    margin: 0;
    width: 80%;
    min-width: 10rem;
    max-width: 30rem;
  }

  .subject-selection p {
    font-size: 1.5rem;
  }

  .nav-list li {
    display: block;
    padding: 0;
  }

  .nav-list span {
    display: none;
  }

  .page-top img {
    height: 3.5rem;
    margin-top: 7rem;
    margin-left: .5rem;
    top: 0;
    opacity: 50%;
  }

  .about-text {
    font-size: large;
  }

  .about-logo {
    width: 60%;
    margin-bottom: 40px;
  }

}

@media only screen and (max-width: 600px) {


}

@media (max-width: 340px) {

  .app-body {
    width: 100%;
    padding: 0;
    margin: 0;

  }
/*-----------------NavBar--------------------*/
  .nav {
    width: 100%;
    box-shadow: none;
  }

  .nav-list img {
    position: relative;
    float: left;
  }

  .page-top img {
    height: 5rem;
    position: fixed;
    top: 0;
    margin-top: 7rem;
    filter: drop-shadow(3px 3px 3px #222);
  }

/*-----------------About-------------------*/
.about img {
  width: 80%;
  height: none;
}

}